* {
    margin: 0;
    padding: 0;
}


/* main page */


body, html {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

body {
    background-size: cover;

}

.background-image {
    background-image: url('https://64.media.tumblr.com/fad5acf8e8720fe9096aa575117d48cd/tumblr_oedw5v5oev1rh2n3qo1_500.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.audiodiv{
    position: fixed;
    top: .75rem;
    right: 1rem;
    z-index: 1;
    display: flex;
}

.center{
    margin: 25%;
}

audio:hover , audio:focus , audio:active{
    box-shadow: 15px 15px 20px rgb(231, 111, 111);
    transform: scale(1.05);
}

audio{
    transition: all 0.5s linear;
    box-shadow: 2px 2px 4px 0px rgb(233, 136, 136);
    border-radius: 7px;
}

.aboutme{
    background-color: rgba(213, 130, 151, 0.84);
    width: 25%;
    height: 70vh;
    position: fixed;
    text-align: center;
    right: 37%;
    top: 18%;
    border-radius: 20%;
    border: 2px solid white;
}

.aboutme p{
    padding: 0.5rem;
}

.pfp{
    padding-top: 2rem;
    max-width: 60%;
    max-height: 50%;
    position: center;
    border-radius: 70%;
}

.aboutme h2{
    padding: 0.5rem;
}

.socialLinks{
    padding: 2rem;
}

header{
    padding: 0.75rem;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(213, 130, 151, .75);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 2;
}

.extraheader{
    display: flex;
    position: fixed;
    top: 0;
    left: 2%;
    z-index: -1;
}

.extraheader p{
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 35px;
    color: rgb(107, 15, 15);
}

.extraheader img{
    max-width: 10%;
    padding-top: .1rem;
}

header nav{
    text-align: center;
    padding: 0.25rem;
}

header nav button{
    padding: 0.75rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color:rgb(229, 141, 171);
    font-size: medium;
    
}

header nav a{
   text-decoration: none; 
   color: rgb(107, 15, 15);
}

header nav button:hover{
    background-color: rgb(160, 124, 217);
    font-size: large;
    color: rgb(65, 52, 149);
}

footer{
    padding: 0.75rem;
    position: fixed;
    bottom: 0;
    background-color: rgba(213, 130, 151, 1);
    display: flex;
}

.homefoot {
    width: 100vw;
}

footer a{
    position: relative;
    padding: 0;
    margin: auto 0;
    left: 1rem;
}

footer p{
    position: relative;
    padding: 0;
    margin: auto 0;
    left: .5rem;
}

.arrow img{
    position: fixed;
    top: 0.4rem;
    right: 12.5rem;
    max-width: 5%;
}

footer nav{
    text-align: center;
    padding:0;
}

footer nav button{
    position: relative;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color:rgb(229, 141, 171);
    font-size: medium;
}

footer nav a{
   text-decoration: none; 
   color: rgb(107, 15, 15);
   margin-right: 2rem;
}

footer nav button:hover{
    background-color: rgb(160, 124, 217);
    color: rgb(65, 52, 149);
}







/* Biography Page */

.biobackground{
    background-image: url('Images/leaf_fall_4.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}  

.aboutmebio{
    background-color: rgba(213, 130, 151, 0.9);
    left: 10%;
    width: 80%;
    height: 80%;
    position:absolute;
    text-align: center;
    right: 37%;
    top: 14%;
    border-radius: 10%;
    border: 2px solid white;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}


.section{
    display: flex;
}

.text1 ol{
    text-align: center;
    list-style-position: inside;
}

.section img{
    max-width: 600px;
    border: 7px solid white;
}

.section .video1{
    max-width: 600px;
}

.section .text1{
    flex-grow: 2;
    padding: 1rem;

}

.section .noborder{
    border: none;
}


.aboutmebio h2{
    padding: 2rem;
}

::-webkit-scrollbar{
    display: none;
}

.biofoot{
    padding: 0.75rem;
    position: relative;
    background-color: rgba(213, 130, 151, 1);
    display: flex;
    bottom: 0;
}



/* Schedule  */


.aboutmesch{
  background-color: rgba(213, 130, 151, 0.8);
    left: 10%;
    width: 80%;
    height: 80%;
    position:absolute;
    text-align: center;
    right: 37%;
    top: 11%;
    border-radius: 10%;
    border: 2px solid white;
}


.scheduleimg{
    position: relative;
    top: 0;
    left: 0%;
    width: 80%;
    bottom: 0;
}

.text{
    height: 80%;

}

.winter{
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    max-width: 7%;
    max-height: 70%;
}

.cat{
    position: absolute;
    max-width: 10%;
    max-height: 30%;
    bottom: 2rem;
    left: 13.6rem;
}

.in{
    position: relative;
    left: 0;
    top: 0;
}


.schbackground{
    background-image: url('Images/leaf_fall_3.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 2;

}   




/* Hobbies Page */

.aboutmehob{
    background-color: rgba(213, 130, 151, 0.9);
    left: 10%;
    width: 80%;
    height: 80%;
    position:absolute;
    text-align: center;
    right: 37%;
    top: 14%;
    border-radius: 10%;
    border: 2px solid white;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.aboutmehob h1{
    position: relative;
    font-size: 80px;
    color: rgb(113, 40, 40);
    letter-spacing: 5px;
    text-shadow: 
    
    0px 0px 1px rgb(116, 50, 50),
    0px 1px 1px rgb(116, 50, 50),
    0px 2px 1px rgb(116, 50, 50),

    1px 1px 1px rgb(116, 50, 50),
    1px 2px 1px rgb(116, 50, 50),
    1px 3px 1px rgb(116, 50, 50),
    
    2px 2px 1px rgb(116, 50, 50),
    2px 3px 1px rgb(116, 50, 50),
    3px 4px 1px rgb(116, 50, 50),

    1px 10px 30px rgb(77, 66, 66),
    1px 10px 70px rgb(77, 66, 66),

    0px 5px 5px rgba(77, 66, 66, 0.8),

    5px 5px 20px rgba(77, 66, 66, 0.8),
    
    1px 1px 120px rgba(224, 225, 148, 0.8);
   
}

.aboutmehob h1::after{
    content: "My Hobbies!";
    font-size: 80px;
    letter-spacing: 5px;
    position: absolute;
    text-shadow: 0px 0px 100px rgba(96, 130, 223, 0.8);
    top: 0;
    left: 29.4%;
    animation: cycle 1s linear infinite;

}

@keyframes cycle {
    0% { text-shadow: 0px 10px 120px rgba(140, 5, 2, 0.8);}
    0% { text-shadow: 0px 10px 120px rgba(138, 113, 1, 0.8);}
    0% { text-shadow: 0px 10px 120px rgba(3, 141, 8, 0.604);}
    0% { text-shadow: 0px 10px 120px rgba(0, 18, 133, 0.8);}
    0% { text-shadow: 0px 10px 120px rgba(78, 2, 122, 0.8);}
}





.hobbackground{
    background-image: url('Images/snow04.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;

}

.snow
{
    position: absolute;
    width:100vw; 
    height:100vh;
    bottom: 1.45rem;
    right: 0;
    z-index: -1; 
}

.in2{
    position: relative;
    left: 0;
    top: 0;
}

.hobfoot{
    padding: 0.75rem;
    position: relative;
    background-color: rgba(213, 130, 151, 1);
    display: flex;
    bottom: 0;
}

.section2{
    display: flex;
}

.text2 ol{
    text-align: center;
    list-style-position: inside;
}

.section2 img{
    max-width: 600px;
    border: 5px solid white;
}

.manual{
    width: 35%;
    max-height: 480px;
}

.section2 iframe{
    max-width: 1000px;
    border: 5px solid white;
    /* why isnt this working */
}

.section2 .video2{
    max-width: 600px;
}

.section2 .text2{
    flex-grow: 2;
    padding: 1rem;
    padding-bottom: 0;

}

.section2 .noborder{
    border: none;
}


.swim{
    margin: 0;
    position: center;
}

.bar{
    width: 100%;
    background-color: rgb(213, 130, 151);
    padding: 2rem;
    border: 2px solid white;
}








/* Page Source */

.psbackground{
    background-image: url('Images/rain.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 2;

}   

.psfoot{
    padding: 0.75rem;
    position: relative;
    background-color: rgba(213, 130, 151, 1);
    display: flex;
    bottom: 0;
}


.aboutmeps{
    background-color: rgba(213, 130, 151, 0.8);
    left: 10%;
    width: 80%;
    height: 80%;
    position:absolute;
    text-align: center;
    right: 37%;
    top: 14%;
    border-radius: 10%;
    border: 2px solid white;
}